*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: sans-serif;
}

#hdr{
	background-color: #fffff;
	border:1px solid black;
	color: #4a9fe0;
	width: 100%;
	height: 125px;
		
}
#hdr h1{
	font-size:40px;
	margin: px;
	text-align: center;
	
}
#hdr h2{
	font-size: 20px;
	text-align: center;
}
			/*setting for float*/	
#hdr::after{
	content: "";
	display: block;
	clear: both;
}

#logo{
	width: 100px;
	height: 100px;
	border:1px solid black;
	border-radius: 20px;
	margin: 5px;
	float: left;
	background-color: #c8e88d;

}

#nav{
	background-color: #9162f7;
	border:1px solid black;
	width:100%;
	height: 50px;
	text-align: center;
}
#nav li{
	list-style: none;

}
#nav li a{
	text-decoration: none;
	float: left;
	padding: 7px;
	color: white;
	font-size:24px;
	border:1px solid white;
	height: 35px;

}
#act{

}
#nav a:hover
{

	background-color:#29aaa8;
	color: white;
}
#contain{
	
	border:2px solid green;
}
					/*setting for containt -->body AND RSBAR*/	

#mbody{
	
	background-color: #ffffff;
	width: 70%;
	height: auto;
	float: left;
}
		/*Setting for main body to avoid float*/

#rsbar{
	
	background-color: #c8e88d;
	width: 30%;
	height:450px;
	float: right;
}
#rsbar ul li a {
	color: #9162f7;
	text-decoration: none;
	font-size: 22px;	
}
#rsbar a:hover{
	color: blue;

}
#rsbar ul li{
	list-style: none;
	margin:10px;
}

#rsbar p{
	font-size:30px;
	color:#4a9fe0;
	text-align: center;

}

#contain::after{
	content: "";
	display: block;
	clear: both;

}

		/*Footer Style*/
#footer{
	border:1px solid black;
	background-color: #9162f7;
	width: 100%;
	height: 50px;
	color: white;
	text-align: center;
}

#footer a{
	text-decoration: none;
	color: blue;
}
			/* Post style*/
#post{
	height:auto;
	width: 100%;
	float: left;
	
}
#post img{
	float: left;
	padding: 2px;
	margin: 2px;
}